[submodule "submodules/trash"]
	path = submodules/trash
	url = https://github.com/rcmdnk/trash.git
[submodule "submodules/sentaku"]
	path = submodules/sentaku
	url = https://github.com/rcmdnk/sentaku.git
[submodule "submodules/wget-curl"]
	path = submodules/wget-curl
	url = https://github.com/somasis/wget-curl.git
